<!DOCTYPE html>
<html>
  <head>
    <title>Vue JS Intro</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  </head>
  <body>

    <div id="app">
        <input v-model="message"><br />
      {{ message }}

      <ul>
        <li v-for="food in food_items">{{ food }}</li>
      </ul>
    </div>

      <script>
      new Vue({
         el: '#app',
         data: {
           'message': 'Hello World',
           'food_items' : ['sushi', 'burgers', 'pizza']
         }
      });
      </script>

  </body>
</html>
